.organization-asset-table {
  min-height: 84vh;
  background-color: #FAFAFB;
}

.assets-error_wrapper {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px ;
}

@media only screen and (max-width: 425px) {
  .assets-error_wrapper {
    flex-direction: column;
  }
}

/* below classes used in useAssetColumns hook */

.organization_assets-media {
  width: 30px;
  height: 20px;
  color: #4E8891;
}

.asset-type_column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.action-column_delete-icon {
  /* border: 1px solid red; */
  color: #C9263F;
  cursor: pointer;
  text-align: center;
  /* width: 40px; */
  font-size: 16px;
}

.date {
  text-align: center;
}

.delete_cell_wrapper {
  /* border: 1px solid red; */
  position: relative;
  /* border: 2px solid red; */
}

.delete_tooltip {
  /* border: 2px solid red; */
  position: absolute;
  top: -460%;
  left: -80%;
  /* left: -125px; */
  /* left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; */
}