.organization-asset-table {
  min-height: 84vh;
  background-color: #FAFAFB;
}

.assets-error_wrapper {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px ;
}

.ok_button {
  background-color: #0079B0 !important;
}

.modal_footer {
  background-color: #F3F3F5;
  width: 100% !important;
}

.confirm_message {
  text-align: left;
}

.confirm_delete {
  background-color: #C72C49 !important;
  text-transform: none !important;
}

.cancel_delete {
  background-color: transparent !important;
  color: #272D41 !important;
  text-align: left !important;
  padding-left: 0px !important;
}

.confirm-modal_content {
  border-radius: 3px !important;
}

.confirm-modal_body {
  min-height: 60px !important;
}

.confirm-modal_header {
  padding-bottom: 5px !important;
}

@media only screen and (max-width: 425px) {
  .assets-error_wrapper {
    flex-direction: column;
  }
}

/* below classes used in useAssetColumns hook */

.organization_assets-media {
  width: 30px;
  height: 20px;
  color: #4E8891;
}

.asset-type_column {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.delete_icon {
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 16px;
}

.active_delete-icon {
  color: #C9263F;
  cursor: pointer;
}

.disabled_delete-icon {
  color: grey;
  cursor: not-allowed;

}

.date {
  text-align: center;
}