.organization-dialogBox_wrapper {
  position: fixed;
  width: 40%;
  height: 250px;
  margin-left: 30%;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.organization-dialogBox_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.organization-dialogBox_header h3 {
  font-weight: 500;
}

.organization-dialogBox_body {
  height: 100%;
  margin-top: 10px;
}

.organization-dialogBox_body form {
  padding: 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

/* will remove it */
.organization_document_field { 
  border: 1px solid grey;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

.selectDocs {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.organization-dialogBox_button-grp {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.done-btn {
  background-color: purple;
  color: white;
  cursor: pointer;
}

.cancel-btn {
  background-color: white;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .organization-dialogBox_wrapper {
    width: 60%;
    margin-left: 20%;
  }
}

@media only screen and (max-width: 425px) {
  .organization-dialogBox_header h3 {
    font-size: 16px;
    text-align: left;
  }
  .organization-dialogBox_wrapper {
    width: 80%;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 375px) {
  .organization-dialogBox_wrapper {
    width: 90%;
    margin-left: 5%;
  }
}