.table_Wrapper {
  overflow-x: auto;
  margin: 0 auto;
  padding: 50px 0;
  width: 70%;
  min-height: 600px;
  /* border: 2px solid red; */
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.table-header_cell {
  color: #2B3044;
  padding: 10px;
  text-transform: capitalize;
}

.table-body_row {
  border: 1px solid #EBEBEE;
  background-color: #FFFFFF;
}

.table-body_Cell {
  font-size: 14px;
  padding: 10px;
}

.table-body_status-row {
  text-align: center;
}

.table-body_status-row td {
  padding: 10px;
}

.table-status_wrapper {
  padding: 100px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sort_data_icons {
  display: inline-flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .table_Wrapper {
    width: 90%;
  }
  .table-header_cell {
    font-size: 10px;
  }
  .table-body_Cell {
    font-size: 12px;
  }
}