.toast-wrapper {
  padding: 15px 30px;
  width: fit-content;
  position: fixed;
  top: 6px;
  right: 50px;
  color: white;
  border-radius: 5px;
  z-index: 1;
  font-weight: 500;
}

.success {
  background-color: rgb(53, 121, 146);
}

.error {
  background-color: rgb(233, 128, 72);
}

@media only screen and (max-width: 768px) {
  .toast-wrapper {
    right: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .toast-wrapper {
    left: 15px;
  }
}