.tooltip_wrapper {
  position: relative;
  width: fit-content;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0,0.1);
  border: 1px solid #E4E4E7;
}

.tooltip_content {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #272D41;
  font-size: 16px;
  font-weight: 500;
  padding: 25px;
  border-radius: 5px;
}

.shape {
  width: 20px;
  height: 20px;
  rotate: 45deg;
  position: absolute;
  bottom: -10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0,0.2);
  background-color: #FFFFFF;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}