.organization_filter-section-wrapper {
  background-color: #F2F2F6;
  padding: 1rem;
}

.organization_filter-section-content {
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
}

.filter-document h3{
  text-align: left;
  color: #373D50;
  font-weight: 500;
}

.filter-document {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}

.select-document-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap: 10px; */
}

.select-document-wrapper h5{
  color: #272D41;
  font-weight: 600;
}

.select-document {
  width: 100%;
  padding: 5px !important;
  border-radius: 2px !important;
  border: 1px solid #DBDBDB;
}

.search-assets-wrapper {
  margin-bottom: 10px;
}

@media only screen and (min-width: 425px) {
  .filter-document {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .select-document-wrapper {
    gap: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .organization_filter-section-content {
    padding: 0;
  }
  .organization_filter-section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .search-assets-wrapper {
    width: 23%;
    margin-bottom: 0px;
  }
}

@media only screen and (min-width: 1024px) {
  .filter-document {
    align-items: center;
    width: 32%;
  }
  .select-document-wrapper {
    width: 60%;
  }
}