.toast-wrapper {
  padding: 10px 30px;
  width: fit-content;
  position: fixed;
  top: 13px;
  right: 3.5%;
  color: white;
  border-radius: 4px;
  z-index: 1;
  font-weight: 500;
}

.success {
  background-color: rgb(53, 121, 146);
}

.error {
  background-color: rgb(233, 128, 72);
}

@media only screen and (max-width: 425px) {
  .toast-wrapper {
    right: 10px;
    left: 10px;
  }
}